.container {
  width: 100%;
  margin: 0rem auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right, .nav-left {
  display: flex;
  align-items: center;
}

/*li {
  text-align: center;
  min width: 100px;
  /*width: 15rem;*/
}

/*.one {
  flex-grow: 10;
  text-align: left;
}

.two, .three, .four {
  flex-grow: 2;
} */

.hero {
  display: flex;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15%;
  padding-right: 35%;
  padding-top: 18%;
  padding-bottom: 18%;
}

.hero a {
  padding-top: 6rem;
}

.downArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.articleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.RW {
  align-items: center;
}

.containerRight {
  display: flex;
  justify-content: center;
}

.cmhpLogoContainer, .logoContainer, .RWLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.CMHPContainer, .RWContainer, .bxbContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  padding-top: 20%;
  padding-bottom: 20%;
}

.mockupContainer {
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  width: 55%;
}
