* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  color: #676767;
}

.container {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

/*navbar*/
.navbar {
  background-color: #F2F5F5;
}

.link-two {
  font-weight: 600;
  color: black;
  font-size: 1.5em;
}

.navbar li {
  padding: 2em;
}

.navbar img {
  max-width: 4em;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

h3 {
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  font-weight: 600;
}

h6 {
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  font-weight: 400;
}

p {
  line-height: 167%;
}

.hero {
  background-color: #F2F5F5;
}

.hero h1{
  font-size: 2.6rem;
  font-weight: normal;
  line-height: 130%;
}

.downArrow {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2rem;
  font-weight: 600;
}

.BxB, .RW{
  background-color: #F5EBDF;
  text-align: center;
}

.CMHP {
  background-color: #F2F5F5;
  text-align: center;
}

.BxB h1, h2, h3, div.logoContainer {
  padding: 1.5rem;
}

.CMHPContainer h1, h2, h3, div.cmhpLogoContainer {
  padding: 1.5rem;
}

#hand {
  max-width: 70%;
}

#laptop {
  max-width: 85%;
  padding-right: 1.5em;
}

.logoContainer img {
  width: 10rem;
}

.cmhpLogoContainer img {
  height: 8rem;
}

.RWLogoContainer img {
  height: 8rem;
}

.RW {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

/*Padding to the left and right of text blocks */
.bxbContainer, .RWContainer {
  padding-left: 13rem;
  align-items: center;
}

.CMHPContainer {
  padding-right: 13rem;
}

footer {
  background-color: #F2F5F5;
  padding: 6.5rem;
  text-align: center;
}

footer h2 {
  font-weight: 300;
  font-size: 2rem;
  padding-bottom: 3rem;
}

footer p {
  font-size: 1.3rem;
  font-weight: 300;
  padding-bottom: 1.5rem;
}

.social {
  padding-bottom: 1.5rem;
}



/*button styling*/
.caseStudyButton, .getInTouchButton {
  border-radius: .5rem;
  background-color: #E9B327;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5rem;
  padding: .7rem;
  width: 15rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 1.5rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.08), 0 6px 20px 0 rgba(0,0,0,0.08);
}

.caseStudyButton span, .getInTouchButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.caseStudyButton span:after, .getInTouchButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.caseStudyButton:hover span, .getInTouchButton:hover span {
  padding-right: 25px;
}

.caseStudyButton:hover span:after,  .getInTouchButton:hover span:after {
  opacity: 1;
  right: 0;
}

.getInTouchButton {
  margin-top: 3rem;
}

/*
body {
  display: grid;
  grid-template-areas:
  "navbar"
  "titlePage"
  "summaryInfo";
}

.navbar, .titlePage, .summaryInfo {
    padding: 4rem;
}

.navbar {
  background-color: #00ffff;
  grid-area: navbar;
}

.titlePage {
  background-color: #ff0fff;
  grid-area: titlePage;
  padding: 7rem 2rem;
}

.summaryInfo {
  background-color: #ffff00;
  grid-area: summaryInfo;
}

@media (min-width:1025px) {
  body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "navbar navbar navbar"
    "titlePage . ."
    "summaryInfo . .";
  }
}
*/

/*when you float, if you lose the container, use "overflow: hidden; "*/
